[Unit]
Description=WireGuard Killswitch
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/wg/killswitch.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
