[Unit]
Description=Restore ipsets for MpVPN
DefaultDependencies=no
Before=network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
ExecStart=/opt/mpvpn-routing/scripts/ipset-restore.sh

[Install]
WantedBy=multi-user.target
